.w-100.pv4
  .mw8.center.tc
    %h1
      Everything you'll ever write.
    %h1
      All in one place.
    %h2
      Written tracks your writing, without you doing a thing.
    %p
      Are you a journalist, writer or blogger? If so...
    %p
      Sign up or claim a profile - it's free.
    %form
      %label
        Your name
      %input
    %p.small
      Creating a profile takes less than 3 minutes.